@model IEnumerable<Proyecto_BazarLibreria.Models.Historial>

@{
    ViewBag.Title = "Historiales";
}

<h2>Historiales</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var historial in Model)
        {
            <tr>
                <td>@historial.Id</td>
                <td>@historial.UsuarioId</td>
                <td>
                    @Html.ActionLink("Detalles", "Details", new { id = historial.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </tbody>
</table>