@{
    ViewBag.Title = "Página Principal";
}

<main>
    <section class="row text-center" aria-labelledby="libreriaTitle">
        <h1 id="libreriaTitle">Bienvenido a Librería Bazar</h1>
        <p class="lead">Descubre los mejores libros, artículos de papelería y promociones exclusivas.</p>
        <p><a href="/Producto/Index" class="btn btn-primary btn-lg">Explorar Productos &raquo;</a></p>
    </section>

    <div class="row mt-5">
        <section class="col text-center" aria-labelledby="informativoTitle">
            <h2 id="informativoTitle">Acerca de Nuestra Librería</h2>
            <p>
                En Librería Bazar nos especializamos en ofrecer una amplia selección de libros y productos de papelería
                para satisfacer las necesidades de nuestros clientes. Nuestro compromiso es brindar un servicio de calidad,
                promociones exclusivas y una experiencia de compra fácil y accesible.
            </p>
            <p>
                Explora nuestro catálogo, encuentra lo que necesitas y disfruta de una atención personalizada que hará
                de tu visita algo especial. ¡Gracias por elegirnos como tu librería de confianza!
            </p>
        </section>
    </div>
</main>